<main class="container left-container">
    <div class="row">

        <div id="menu-target">
            <ul>
                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                <li><i class="fa fa-building"></i><a href="/about">Developer's Workspace</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-github"></i><a href="https://github.com/developersworkspace">Github (developersworkspace)</a></li>
                <li><i class="fa fa-github"></i><a href="https://github.com/barend-erasmus">Github (barend-erasmus)</a></li>
            </ul>
        </div>

        <section class="sidebar col-md-5 col-sm-12" style="background-image: url(/static/img/default-contact.jpg)">

            <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </span>

            <div class="site-info">
                <div class="primary-info">
                    <h1>Contact</h1>
                    <p>Questions, Suggestions, Compliments or Complaints</p>

                </div>
            </div>

        </section>

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <h3>Contact</h3>

            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Jane Doe" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" placeholder="example@email.com" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" placeholder="Example Ltd" class="form-control" name="company">
                </div>

                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input type="tel" placeholder="+44778217779" class="form-control" name="number">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" placeholder="Hello, lets chat"></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Send">
                </div>
            </form>

            <footer class="split-footer">
                <a href="/about">About</a>
                <i class="link-spacer"></i>
                <a href="/">Developer's Workspace Pty Ltd 2017</a>
            </footer>
        </div>
        <!-- main content -->
    </div>
    <!--/row -->

</main>
<!-- /container -->