<main class="container left-container">
    <div class="row">

        <div id="menu-target">
            <ul>
                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                <li><i class="fa fa-building"></i><a href="/about">Developer's Workspace</a></li>
                <li><i class="fa fa-cube"></i><a href="/projects">Projects</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-globe"></i><a href="/projects/url-shortener">URL Shortener</a></li>
            </ul>
            <hr>
            <ul>
                <li><i class="fa fa-github"></i><a href="https://github.com/developersworkspace">Github (developersworkspace)</a></li>
                <li><i class="fa fa-github"></i><a href="https://github.com/barend-erasmus">Github (barend-erasmus)</a></li>
            </ul>
        </div>

        <section class="sidebar col-md-5 col-sm-12" style="background-image: url(/static/img/default-favorites-sidebar.jpg)">

            <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </span>

            <div class="site-info">
                <div class="primary-info">
                   <h1>Developer's Workspace</h1>
                    <p>Sharing Knowledge, Experiences and Ideas</p>
                </div>
            </div>

        </section>

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
            <section class="row">
                <div class="col-sm-12">
                    <h2 class="favorites">Projects</h2>
                </div>

                <article class="post-favorite col-xs-12 col-sm-6 ">
                    <h2><a href="post.html">About Writer</a></h2>
                    <p>Not another bootstrap theme </p>
                </article>

                <article class="post-favorite col-xs-12 col-sm-6">
                    <h2><a href="post.html">Its not always that simple</a></h2>
                    <p>How many times should you ask the same questions. </p>
                </article>

                <article class="post-favorite col-xs-12 col-sm-6">
                    <h2><a href="post.html">Ten reasons why you should travel, or why   the city is killing your inner creative</a></h2>
                    <p>About time for your next adventure. </p>
                </article>

                <article class="post-favorite col-xs-12 col-sm-6">
                    <h2><a href="post.html">Feature List</a></h2>
                    <p>Wondering what is actually included? </p>
                </article>
            </section>
            <!-- end fav posts -->

            <section class="row favorite-categories animated fadeIn">
                <div class="col-sm-12">
                    <h2 class="favorites">Top Posts
                        <h2>
                </div>

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>Title</h2>
                    <a href="category.html"><img src="http://via.placeholder.com/150x150" alt="category-image"></a>
                </div>

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>Title</h2>
                    <a href="category.html"><img src="http://via.placeholder.com/150x150" alt="category-image"></a>
                </div>

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>Title</h2>
                    <a href="category.html"><img src="http://via.placeholder.com/150x150" alt="category-image"></a>
                </div>
            </section>

            <footer class="split-footer">
                <a href="/about">About</a>
                <i class="link-spacer"></i>
                <a href="/">Developer's Workspace Pty Ltd 2017</a>
            </footer>
        </div>
        <!-- main content -->
    </div>
    <!--/row -->

</main>