<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.shapedtheme.com/kotha-pro-html/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jul 2017 13:48:08 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rubel Miah">

    <!-- favicon icon -->
    <link rel="shortcut icon" href="/static/images/index.html">

    <title>Marka Modes</title>

    <!-- common css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.theme.css">
    <link rel="stylesheet" href="/static/css/owl.transitions.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

    <!-- HTML5 shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>

<nav class="navbar main-menu navbar-default">
    <div class="container">
        <div class="menu-content">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav text-uppercase">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="menu-item-has-children"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Categories
                        <i class="fa fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="single-portfolio.html">Beauty</a></li>
                            <li><a href="portfolio-2.html">Style</a></li>
                            <li><a href="portfolio-3.html">Lifestyle</a></li>
                        </ul>
                    </li>
                    <li><a href="#">TRAVEL</a></li>
                    <li><a href="#">FOOD</a></li>
                    
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
                <div class="i_con">
                    <a href="https://twitter.com/MarlaTarrant"><i class="active fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/marlajean.tarrant"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/marla-jean-tarrant-530735b0/"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.instagram.com/marlajeantarrant/?hl=en"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>

                    <div class="top-search">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>

            </div>
            <!-- /.navbar-collapse -->


            <div class="show-search">
                <form role="search" method="get" id="searchform" action="#">
                    <div>
                        <input type="text" placeholder="Search and hit enter..." name="s" id="s">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="header-logo text-center">
        <a href="index.html"><img src="http://via.placeholder.com/171x30" alt=""></a>
    </div>
</div>
<!--main content start-->
{{{body}}}
<!-- end main content-->
<!--footer start-->
<div id="footer">
    <div class="footer-instagram-section">
        <h3 class="footer-instagram-title text-center text-uppercase">Instagram</h3>

        <div id="footer-instagram" class="owl-carousel">

            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>
            <div class="item">
                <a href="#"><img src="http://via.placeholder.com/350x350" alt=""></a>
            </div>

        </div>
    </div>
</div>

<footer class="footer-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="footer-widget">
                    <div class="about-img"><img src="http://via.placeholder.com/223x40" alt="Kotha"></div>
                    <div class="about-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                        voluptua. At vero eos et accusam et justo duo dlores et ea rebum magna text ar koto din.
                    </div>
                    <div class="address">
                        <h4 class="text-uppercase">contact Info</h4>

                        <p> 239/2 NK Street, DC, USA</p>

                        <p> Phone: +123 456 78900</p>

                        <p>theme@kotha.com</p>
                    </div>
                </aside>
            </div>

            <div class="col-md-4">
                <aside class="footer-widget">
                    <h3 class="widget-title text-uppercase">Testimonials</h3>

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!--Indicator-->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="http://via.placeholder.com/50x50" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="http://via.placeholder.com/50x50" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="http://via.placeholder.com/50x50" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
            <div class="col-md-4">
                <aside class="footer-widget">
                    <h3 class="widget-title text-uppercase">Custom Category Post</h3>


                    <div class="custom-post">
                        <div>
                            <a href="#"><img src="http://via.placeholder.com/295x190" alt=""></a>
                        </div>
                        <div>
                            <a href="#" class="text-uppercase">Home is peaceful Place</a>
                            <span class="p-date">February 15, 2016</span>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">&copy; 2015 <a href="#">Kotha PRO</a>,Designed with <i
                            class="fa fa-heart"></i>
                        by <a href="#">ShapedTheme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- js files -->
<!-- js files -->
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.stickit.min.js"></script>
<script type="text/javascript" src="/static/js/menu.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
</body>

<!-- Mirrored from demo.shapedtheme.com/kotha-pro-html/home-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jul 2017 13:48:08 GMT -->
</html>